openapi: 3.0.3
info:
  title: IGDB Companies Releases API
  description: 'The IGDB (Internet Game Database) API provides programmatic access to a comprehensive video game database, including games, platforms, companies, genres, release dates, covers, screenshots, and user reviews.

    Authentication uses Twitch OAuth Client Credentials. All requests require a Client-ID header and an Authorization Bearer token. Most endpoints accept POST requests with an Apicalypse query body for filtering, sorting, and field selection.'
  version: '4.0'
  contact:
    name: IGDB Support
    url: https://www.igdb.com/contact
  license:
    name: Terms of Service
    url: https://api-docs.igdb.com/#terms-of-service
servers:
- url: https://api.igdb.com/v4
  description: IGDB API v4 production
security:
- ClientID: []
  BearerAuth: []
tags:
- name: Releases
  description: Release dates and regional releases.
paths:
  /release_dates:
    post:
      tags:
      - Releases
      summary: Query release dates
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/ApicalypseQuery'
      responses:
        '200':
          description: A list of release date records.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReleaseDate'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ReleaseDate:
      type: object
      properties:
        id:
          type: integer
        game:
          type: integer
        platform:
          type: integer
        region:
          type: integer
        date:
          type: integer
          description: Unix timestamp of release.
        human:
          type: string
    Error:
      type: object
      properties:
        title:
          type: string
        status:
          type: integer
        cause:
          type: string
    ApicalypseQuery:
      type: string
      description: 'Apicalypse query string used to filter, sort, paginate, and select fields on IGDB resources. Example: `fields name,cover.url; where rating > 80; limit 10;`'
      example: 'fields name,summary,cover.url,first_release_date;

        where rating > 80;

        sort rating desc;

        limit 10;'
  responses:
    Unauthorized:
      description: Missing or invalid Client-ID or bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ClientID:
      type: apiKey
      in: header
      name: Client-ID
      description: Twitch developer Client-ID issued for the IGDB API.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2 access token
      description: Bearer access token obtained via the Twitch OAuth Client Credentials flow.
